<html>
    <head>
        <style>
            table {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 1px solid gray;
                text-align: left;
                padding: 10px;
            }
            tr:nth-child(even) {
                background-color: white;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Inventory Table</h1>
  <style>
    h1{
        margin-left: 600px;
    }
  </style>

            <table>
                <tr>
                    <th>Customer_Id</th>
                    <th>Customer_name</th>
                    <th>Email</th>
                   
                    
                </tr>
                <% customerData.forEach(customerdata => { %>
                    <tr>
                       <td><%= customerdata.customer_id %> </td>
                       <td><%= customerdata.customer_name %></td>
                       <td><%= customerdata.email %> </td>
                     
                       
                    </tr>
                  
                   <% }) %>
                    
            </table>
            
        </div>
    </body>
</html>



